html

  head
    link(rel="stylesheet" href="stylesheets/style.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
        $("#submit-register-user").on( "click", function() {
          $.post("/user/register", { email: $("#email-register").val(), password: $("#password-register").val() })
          .done(function( data ) {
            $("#display-register-msg").text(data.response)
          }).fail(function(error){
            $("#display-register-msg").text(error.responseJSON.error)
          });
        });

        $("#get-server-details").on( "click", function() {
          $.get("/server")
          .done(function( data ) {
            $("#display-server-id").val(data.serverId)
          }).fail(function(error){
            $("#display-server-error").text(error.responseJSON.error)
          });
        });

        $("#submit-verify-user").on( "click", function() {
          $.post("/auth/encrypt", { 
            email: $("#email-verify").val(), 
            password: $("#password-verify").val(), 
            serverId: $("#display-server-id").val(),
          })
          .done(function( data ) {
          }).then(function (encData) {
            return $.get("/auth/verify", { data: encData })
              .done(function( data ) {
                $("#display-verify-msg").text(data.response)
            }).fail(function(error){
              $("#display-verify-msg").text(error.responseJSON.error)
            });
          });
        });

        $("#submit-message").on( "click", function() {
          $.post("/message", { email: $("#email-verify").val(), message: $("#message-submit").val() })
          .done(function( data ) {
            $("#display-verify-message").text(data.response)
            $("#messageId").html(data.uuid)
            $("#hmac-verify").val(data.hmac)
          }).fail(function(error){
            $("#display-verify-message").text(error.responseJSON.error)
          });
        });

        $("#verify-message").on( "click", function() {
          $.get("/message/verify", { email: $("#email-verify").val(), messageId: $('#messageId').text(), hmac: $("#hmac-verify").val(),
            message: $('#message-submit').val() })
          .done(function( data ) {
            $("#display-verify-message").text(data.response)
            // $("#password").val(data.response)
          }).fail(function(error){
            $("#display-verify-message").text(error.responseJSON.error)
          });;
        });
      });
    body
      h1 Secure Message transmission dashboard
      h3 Shivathanu Gopirajan Chitra (up201900051) | Vitor Brochado (up201909463) | Pedro Elias (up201800056) | Lucas Martins (up201909460)
      div.box
        p
        h2 Registration:
        p
        | Email:
        input#email-register(type='text', name='email', value='')
        | Password:
        input#password-register(type='text', name='password', value='')
        p#display-register-msg
        input#submit-register-user(type='submit', value='Register Me')
        p
        h2 Get Server Details:
        input#get-server-details(type='submit', value='Get Server Details')
        input#display-server-id(type='text', name='server', value='')
        p#display-server-error
        h2 Verify:
        p
        | Email:
        input#email-verify(type='text', name='email', value='')
        | Password:
        input#password-verify(type='text', name='password', value='')
        input#submit-verify-user(type='submit', value='Verify Details')
        p#display-verify-msg
        p
        | Message:
        input#message-submit(type='text', name='message', value='')
        input#messageId(type='hidden', name='message', value='')
        p
        | HMAC:
        input#hmac-verify(type='text', name='hmac', value='')
        p#display-verify-message
        input#submit-message(type='submit', value='Send Message')
        input#verify-message(type='submit', value='Verify Message')
