body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

h3 {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

.box {
  margin: auto;
  width: 40%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #4e6f8c;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
